<div id="profile-name">
  <%= image_tag @profile.image.url, size: '150x150', id: 'display-picture' %>
  <h2><%= @profile.name %></h2>
  <p><%= @profile.tier.capitalize %> <%= @profile.rank %></p>
  <%= image_tag @profile.badge, size: '30x30' %>
</div>

<div id="profile-posts">
  <% @profile.posts.each do |post| %>
    <%= post.body %><br>
  <% end %>
</div>

<div id="profile-controls">
  <% if current_user == @profile.user %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <% end %>
</div>
