<h1>Vincular Summoner</h1>

<% if @profile.name %>
  <p>
    Summoner atualmente vinculado: <strong><%= @profile.name %></strong>
    <span class="badge badge-secondary"><%= @profile.tier %> <%= @profile.rank %></span>
    <br>
  </p>

  <p>Caso queira vincular um summoner diferente, basta refazer o processo.</p>
  <br>
<% end %>

Código: <%= @key %>

<%= form_for @profile, url: {action: 'confirm_verify'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Vincular', class: 'btn btn-primary' %>
<% end %>

<br>

<%= image_tag 'verify_guide2.jpg', id: 'verify_guide' %>
