<h1>Vincular Summoner</h1>

<% unless @profile.name %>
  Código: <%= @key %>

  <%= form_for @profile, url: {action: 'confirm_verify'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit 'Vincular', class: 'btn btn-primary' %>
  <% end %>

  <br>

  <%= image_tag 'verify_guide2.jpg', id: 'verify_guide' %>
<% else %>
  <%= link_to "Desvincular '#{@profile.name}'", verify_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
