<!DOCTYPE html>
<html>
  <head>
    <title>SoloQ</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <%= link_to 'SoloQ', root_path %>
          </li>
          <li>
            <%= link_to 'Home', root_path %>
          </li>

          <% if current_user %>
            <li>
              <%= link_to 'Vincular Summoner', verify_path %>
            </li>
            <li>
              <%= link_to 'Meu Perfil', profile_path(current_user) %>
            </li>
          <% end %>
          <li>
            <div id="sidebar-card">
              <% if current_user %>
                <h3><%= current_user.summoner_name %></h3>

                <% if current_user.tier %>
                  <%= image_tag current_user.badge, size: '30x30' %>
                  <%= current_user.tier %> <%= current_user.rank %>
                <% end %>

              <% else %>
                <%= link_to 'Login', new_user_session_path %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">T</a>

          <% if current_user %>
            <%= current_user.email %> -
            <%= current_user.summoner_name %> -
            <%= current_user.summoner_id %> -
            <%= current_user.tier %>
            <%= current_user.rank %> -
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>

        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
